<%- include ("../partials/header") %>


<div class="col s12">
    <form action="<%=dynIn.action%>" method="post" class="col s12">
        <div class="form-group row">
            <div class="col-10">
                <input type="submit" name="submit" value="Add new <%=dynIn.tablename%>" class="btn btn-primary btn-lg">
                <input type="hidden" name='tablename' value="<%=dynIn.tablename%>" class="form-control">
            </div>
        </div>

    </form>
</div>

<br>

<div class="=">
    <div class="col s12">
        <% if(dynIn.arr[0].length>0){%>
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:1%;text-align:center">Nummer</th>
                        <% for (var col of dynIn.arr[0]) { %>
                        <th style="width:5%;text-align:center"><%= col.name %></th>
                        <%}%>
                        <th solspan="2" style="width:20%;text-align:center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% dynIn.arr.forEach(function(row, index){ %>
                <tr>
                    <td style="width:1%;text-align:center"><%= index +1 %></td>
                    <% for (var col of row) { %>
                    <td style="width:5%"><%= col.value %></td>
                    <%}%>
                    <td solspan="2" style="width:20%;text-align:center">
                        <a href="/<%= dynIn.tablename%>/edit/<%=row[0].value%>" class="btn btn-success">Edit</a>
                        <a href="/<%= dynIn.tablename%>/delete/<%=row[0].value%>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        <% }else{ %>
            <p><strong>There are no records available</strong></p>
        <% } %>
    </div>
</div>


<%- include ("../partials/footer") %>